<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>

  <div class="topnav">
    <a {% if page.title == 'Home' %} class="active" {% endif %} href="/">Home</a>
    <a {% if page.title == 'About' %} class="active" {% endif %} href="/about.html">About</a>
    <a {% if page.title == 'Teaching' %} class="active" {% endif %} href="/teaching.html">Teaching</a>
    <a {% if page.title == 'Research' %} class="active" {% endif %} href="/research.html">Research</a>
    <a {% if page.title == 'Publications' %} class="active" {% endif %} href="/publications.html">Publications</a>
    <a {% if page.title == 'Notes' %} class="active" {% endif %} href="/notes.html">Notes</a>
  </div>

  {{ content }}

  <footer>Copyright &copy 2017 Douglas H. Laurence</footer>
</body>
</html>